<label for="cars">Choose a car:</label>

<select name="moods" id="moods">
  <option value="happy">happy</option>
  <option value="sad">sad</option>
  <option value="neutral">neutral</option>
  <option value="angry">angry</option>
</select>