<div>
    <form action="/moods-create">
        <h2>Input a day up to 7 days in the future MM-DD-YYYY</h2>
        <input type="submit" value="Add Mood" />
    </form>
    <h1>{{weatherMoodArr}}</h1>

</div>